.confianza
	background lightgray
	padding-top 2em
	padding-bottom 2em
	&__box
		width 100%
		margin 0 auto
	&__title
		width 100%
		display block
		text-align center
		margin 0 auto
		h2
			font-size title_h2
			color gris_letra
	&__comentarios
		width 100%
		margin 0 auto
		display block
		text-align center
		.comentarios__twitter
			width 95%
			height auto
			text-align center
			margin 0 auto
			display block

@media (min-width 768px)
	&__box
		width 100%
		margin 0 auto
		background red
	&__title
		h2
			font-size 3em
	&__comentarios
		width 100%
		margin 0 auto
		display block
		text-align center
		.comentarios__twitter
			width 45%
			height auto
			text-align center
			margin 0 auto
			display block
				
		