*
	margin 0
	padding 0
// variables
title_h2 = 1.7em
size_p = 1.3em
// colores
gris_claro=#f4f5f6
gris_letra=#444e5a
celeste_cromlu=#36E3FF

html
	font-family 'Questrial' sans-serif
	// font-family 'Arial', sans-serif
body
	background lightgray
	
@import 'header.styl'
@import 'portada.styl'
@import 'beneficios.styl'
@import 'convence.styl'
@import 'responsive.styl'
@import 'proceso.styl'
@import 'escoge.styl'
@import 'personalizado.styl'
@import 'confianza.styl'
@import 'contacto.styl'
@import 'footer.styl'






