*
	margin 0
	padding 0

// varialbles
title__h2 = 1.5em
size__p = 1.3em
html
	font-family 'Arial', sans-serif
body
	background lightgray
	
@import 'header.styl'
@import 'portada.styl'
@import 'beneficios.styl'
// @import 'convence.styl'
@import 'responsive.styl'
@import 'proceso.styl'

// @import 'escoge.styl'
// @import 'personalizado.styl'
// @import 'confianza.styl'
// @import 'contacto.styl'
// @import 'footer.styl'






